:root {
  --color-primary: #0b0d17;
  --color-secondary: #d0d6f9;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;

  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-white);
}

/* Colors */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-white {
  color: var(--color-white);
}
