:root {
  /* Color */
  --color-primary: #0b0d17;
  --color-secondary: #d0d6f9;
  --color-white: #ffffff;

  /* Text */
  --font-text-sm-1: 400 80px/171.9% "Bellefair", serif;
  --font-text-sm-2: 400 56px/114.6% "Bellefair", serif;
  --font-text-sm-3: 400 24px/64.2% "Bellefair", serif;
  --font-text-sm-4: 400 18px/36.7% "Bellefair", serif;
  --font-text-sm-6: 400 16px/19.2% "Barlow Condensed", sans-serif;
  --font-text-sm-8: 400 14px/19.2% "Barlow Condensed", sans-serif;
  --font-text-sm-9: 400 15px/180% "Barlow", sans-serif;

  --font-text-2: 400 80px/114.6% "Bellefair", serif;
  --font-text-3: 400 40px/64.2% "Bellefair", serif;
  --font-text-4: 400 24px/36.7% "Bellefair", serif;
  --font-text-5: 400 20px/33.6% "Barlow Condensed", sans-serif;
  --font-text-9: 400 16px/180% "Barlow", sans-serif;

  --font-text-lg-1: 400 144px/171.9% "Bellefair", serif;
  --font-text-lg-2: 400 96px/114.6% "Bellefair", serif;
  --font-text-lg-3: 400 56px/64.2% "Bellefair", serif;
  --font-text-lg-4: 400 32px/36.7% "Bellefair", serif;
  --font-text-lg-5: 400 28px/33.6% "Barlow Condensed", sans-serif;
  --font-text-lg-6: 400 28px/32.1% "Bellefair", sans-serif;
  --font-text-lg-7: 400 14px/16.8% "Barlow Condensed", sans-serif;
  --font-text-lg-8: 400 16px/19.2% "Barlow Condensed", sans-serif;
  --font-text-lg-9: 400 18px/180% "Barlow", sans-serif;

  --letter-spacing-5: 4px;
  --letter-spacing-7: 2px;
  --letter-spacing-8: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;

  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 180%;
  color: var(--color-white);
}

/* Colors */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-white {
  color: var(--color-white);
}
