/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.navbar-logo__image {
  width: 40px;
  height: 40px;
  -webkit-user-select: none;
  user-select: none;
}

.navbar-logo__line {
  display: none;
}

.navbar__menu {
  position: fixed;
  width: 254px;
  height: 100%;
  padding-left: 32px;
  top: 0;
  right: 0;
  background-color: rgba(11, 13, 23, 15%);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.navbar__menu--open {
  transform: translateX(0);
}

.navbar__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.navbar-link__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-white);
  height: 19px;
  word-spacing: 4px;
  border-right: 3px solid transparent;
  transition: border-right-color 0.5s ease-out;
}

.navbar-link__item.active {
  border-right-color: var(--color-white);
}

.navbar-link__item:hover.navbar-link__item:not(.active) {
  border-right-color: rgba(255, 255, 255, 0.5);
}

.navbar-menu-button__icon--open {
  width: 24px;
  height: 100%;
}

.navbar-menu__button--close {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 24px;
  text-align: end;
}

.navbar-menu-button__icon--close {
  width: 24px;
  height: 100%;
}


/* Tabet */
@media (min-width: 768px) {
  /* Navbar */
  .navbar {
    padding: 0;
    height: 96px;
  }

  .navbar__logo {
    padding: 24px 40px;
  }

  .navbar-logo__image {
    width: 48px;
    height: 48px;
  }

  .navbar-menu__button--open,
  .navbar-menu__button--close {
    display: none;
  }

  .navbar__menu {
    position: unset;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    transform: translateX(0);
    transition: none;
    z-index: 0;
    align-items: end;
    background-color: rgba(255, 255, 255, 5%);
  }

  .navbar__links {
    height: 100%;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }

  .navbar-link__item {
    height: 96px;
    border-right: 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.5s ease-out;
  }

  .navbar-link__item.active {
    border-bottom-color: var(--color-white);
  }

  .navbar-link__item:hover.navbar-link__item:not(.active) {
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }
}

/* Desktop */
@media (min-width: 1440px) {

  /* Navbar */
  .navbar__logo {
    /* flex: 1;
  padding-left: 64px;
  display: flex;
  gap: 64px;
  align-items: center; */
  }

  /* .navbar {
    padding-top: 0;
  }
  .navbar-logo__line {
    display: none;
  }

  .navbar__logo {
    flex: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar__links {
    flex: 1;
    justify-content: flex-end;
    padding-left: 40px;
    padding-right: 40px;
  } */
}