/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.navbar-logo__image {
  width: 40px;
  height: 40px;
  -webkit-user-select: none;
  user-select: none;
}

.navbar-logo__line {
  display: none;
}

.navbar__menu {
  width: 254px;
  height: 100%;
  padding-left: 32px;
  background-color: rgba(11, 13, 23, 15%);
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.navbar__menu--open {
  transform: translateX(0);
}

.navbar__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font: var(--font-text-lg-8);
  letter-spacing: var(--letter-spacing-8);
}

.navbar-link__item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--color-white);
  height: 19px;
  border-right: 3px solid transparent;
  transition: border-right-color 0.5s ease-out;
}

.navbar-link-item__number {
  font-weight: bold;
}

.navbar-link__item.active {
  border-right-color: var(--color-white);
}

.navbar-link__item:hover.navbar-link__item:not(.active) {
  border-right-color: rgba(255, 255, 255, 0.5);
}

.navbar-menu-button__icon--open {
  width: 24px;
  height: 100%;
}

.navbar-menu__button--close {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 24px;
  text-align: end;
}

.navbar-menu-button__icon--close {
  width: 24px;
  height: 100%;
}

/* Steps */
.steps__title {
  display: flex;
  align-items: center;
  gap: 24px;
  font: var(--font-text-6);
  text-transform: uppercase;
}

.steps__number {
  font-weight: 700;
  opacity: 0.25;
}

/* Tabet */
@media (min-width: 768px) {
  /* Navbar */
  .navbar {
    padding: 0;
    height: 96px;
  }

  .navbar__logo {
    padding: 24px 40px;
  }

  .navbar-logo__image {
    width: 48px;
    height: 48px;
  }

  .navbar-menu__button--open,
  .navbar-menu__button--close {
    display: none;
  }

  .navbar__menu {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 5%);
    position: unset;
    z-index: 0;
    transform: translateX(0);
    transition: none;
    align-items: end;
  }

  .navbar__links {
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }

  .navbar-link__item {
    height: 96px;
    border-right: 0;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.5s ease-out;
  }

  .navbar-link__item.active {
    border-bottom-color: var(--color-white);
  }

  .navbar-link__item:hover.navbar-link__item:not(.active) {
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }

  /* Steps */
  .steps__title {
    font: var(--font-text-5);
    letter-spacing: var(--letter-spacing-5);
    align-self: flex-start;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Navbar */
  .navbar {
    padding: 40px 0 0 0;
    height: 136px;
  }

  .navbar__logo {
    flex: 1;
    padding: 0 0 0 64px;
    display: flex;
    gap: 64px;
    align-items: center;
  }

  .navbar-logo__image {
    width: 48px;
    height: 48px;
  }

  .navbar-logo__line {
    display: block;
    position: relative;
    width: 100%;
  }

  .navbar__line {
    position: absolute;
    height: 1px;
    width: calc(100% + 32px);
    background-color: #979797;
    opacity: 0.25;
    z-index: 999;
  }

  .navbar__menu {
    flex: 1;
    padding-left: 64px;
    padding-right: 64px;
  }

  /* Steps */
  .steps__title {
    font: var(--font-text-lg-5);
  }
}
