.text--bold {
  font-weight: bold;
}

.text--center {
  text-align: center;
}

.text-1 {
  font: var(--font-text-1);
}

.text-2 {
  font: var(--font-text-2);
}

.text-3 {
  font: var(--font-text-3);
}

.text-4 {
  font: var(--font-text-4);
}

.text-5 {
  font: var(--font-text-5);
  letter-spacing: 4px;
}

.text-6 {
  font: var(--font-text-6);
}

.text-7 {
  font: var(--font-text-7);
  letter-spacing: 2px;
}

.text-8 {
  font: var(--font-text-8);
  letter-spacing: 2px;
}

.text-9 {
  font: var(--font-text-9);
}

/* Tablet */
@media (min-width: 768px) {
  :root {
    --font-text-2: 400 80px/114.6% "Bellefair", serif;
    --font-text-3: 400 40px/64.2% "Bellefair", serif;
    --font-text-4: 400 24px/36.7% "Bellefair", serif;
    --font-text-9: 400 16px/180% "Barlow", sans-serif;
  }
}

/* Desktop */
@media (min-width: 1040px) {
  :root {
    --font-text-1: 400 144px/171.9% "Bellefair", serif;
    --font-text-2: 400 96px/114.6% "Bellefair", serif;
    --font-text-3: 400 56px/64.2% "Bellefair", serif;
    --font-text-4: 400 32px/36.7% "Bellefair", serif;
    --font-text-5: 400 28px/33.6% "Barlow Condensed", sans-serif;
    --font-text-6: 400 28px/32.1% "Bellefair", sans-serif;
    --font-text-7: 400 14px/16.8% "Barlow Condensed", sans-serif;
    --font-text-8: 400 16px/19.2% "Barlow Condensed", sans-serif;
    --font-text-9: 400 18px/180% "Barlow", sans-serif;
  }
}
