/* Text */
.text--bold {
  font-weight: bold;
}

.text--center {
  text-align: center;
}

.text-1 {
  font-family: "Bellefair", serif;
  font-size: 80px;
  line-height: 171.9%;
}

.text-2 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: 114.6%;
}

.text-3 {
  font-family: "Bellefair", serif;
  font-size: 24px;
  line-height: 64.2%;
}

.text-4 {
  font-family: "Bellefair", serif;
  font-size: 18px;
  line-height: 36.7%;
}

.text-5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 33.6%;
}

.text-6 {
  font-family: "Bellefair", sans-serif;
  font-size: 16px;
  letter-spacing: 15%;
  line-height: 32.1%;
}

.text-7 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 16.8%;
}

.text-8 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 19.2%;
}

.text-9 {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  line-height: 180%;
}
