/* Tablet */
@media (min-width: 768px) {
  /* Text */
  .text-2 {
    font-size: 80px;
  }

  .text-3 {
    font-size: 40px;
  }

  .text-4 {
    font-size: 24px;
  }

  .text-9 {
    font-size: 16px;
  }

  /* Navbar */
  .navbar__logo {
    padding-left: 40px;
    padding-right: 40px;
  }

  /* .navbar {
    padding-top: 0;
  }
  .navbar-logo__line {
    display: none;
  }

  .navbar__logo {
    flex: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar__links {
    flex: 1;
    justify-content: flex-end;
    padding-left: 40px;
    padding-right: 40px;
  } */
}

/* Desktop */
@media (min-width: 1440px) {
  /* Text */
  .text-1 {
    font-size: 144px;
  }

  .text-2 {
    font-size: 96px;
  }

  .text-3 {
    font-size: 56px;
  }

  .text-4 {
    font-size: 32px;
  }

  .text-5 {
    font-size: 28px;
    letter-spacing: 4px;
  }

  .text-6 {
    font-size: 28px;
  }

  .text-7 {
    font-size: 14px;
    letter-spacing: 2px;
  }

  .text-8 {
    font-size: 16px;
    letter-spacing: 2px;
  }

  .text-9 {
    font-size: 18px;
  }

  /* Navbar */

  .navbar__logo {
    /* flex: 1;
  padding-left: 64px;
  display: flex;
  gap: 64px;
  align-items: center; */
  }

  /* .navbar {
    padding-top: 0;
  }
  .navbar-logo__line {
    display: none;
  }

  .navbar__logo {
    flex: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar__links {
    flex: 1;
    justify-content: flex-end;
    padding-left: 40px;
    padding-right: 40px;
  } */
}
