body {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
}

.crew {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.crew__title {
  display: flex;
  align-items: center;
  gap: 24px;
  font: var(--font-text-6);
}

.crew-title__number {
  font-weight: 700;
  opacity: 0.25;
}

@media (min-width: 768px) {
  body {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
}
