body {
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
}

.destination {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.destination__title {
  display: flex;
  align-items: center;
  gap: 24px;
  font: var(--font-text-6);
}

.destination-title__number {
  font-weight: 700;
  opacity: 0.25;
}

.destination__planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.planet__image {
  background-image: url("../../assets/destination/image-moon.webp");
  background-size: cover;
  height: 150px;
  width: 150px;
  margin-top: 26.5px;
  margin-bottom: 58.5px;
}

.planet-image__moon {
  background-image: url("../../assets/destination/image-moon.webp");
}

.planet-image__mars {
  background-image: url("../../assets/destination/image-mars.png");
}

.planet-image__europa {
  background-image: url("../../assets/destination/image-europa.webp");
}

.planet-image__titan {
  background-image: url("../../assets/destination/image-titan.webp");
}

.planet__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.info__links {
  list-style: none;
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

.info-links__item {
  display: flex;
  font: var(--font-text-sm-8);
  letter-spacing: var(--letter-spacing-8);
  text-decoration: none;
  color: var(--color-secondary);
  height: 32px;
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.5s ease-out;
}

.info-links__item.active {
  border-bottom-color: var(--color-white);
  color: var(--color-white);
}

.info-links__item:hover.planet-links__item:not(.active) {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.info__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.description__name {
  font: var(--font-text-sm-2);
}

.description__text {
  font: var(--font-text-sm-9);
  color: var(--color-secondary);
}

.info__line {
  width: 100%;
  opacity: 0.25;
}

.info__meta {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.meta__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.meta-item__title {
  font: var(--font-text-lg-7);
  letter-spacing: var(--letter-spacing-7);
  height: 17px;
  color: var(--color-secondary);
}

.meta-item__text {
  font: var(--font-text-lg-6);
  height: 32px;
}

@media (min-width: 768px) {
  body {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  .destination {
    padding: 40px;
  }

  .destination__title {
    font: var(--font-text-5);
    letter-spacing: var(--letter-spacing-5);
    align-self: flex-start;
  }

  .planet__image {
    height: 300px;
    width: 300px;
    margin-top: 42px;
    margin-bottom: 74px;
  }

  .planet__info {
    padding: 11.5px 87px;
  }

  .info-links__item {
    font: var(--font-text-lg-8);
  }

  .description__name {
    font: var(--font-text-2);
  }

  .description__text {
    font: var(--font-text-9);
  }

  .info__meta {
    flex-direction: row;
    width: 100%;
  }

  .meta__item {
    flex: 1;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }

  .destination {
    padding: 48px 165px;
    text-align: start;
  }

  .destination__title {
    font: var(--font-text-lg-5);
    align-self: flex-start;
  }

  .destination__planet {
    flex-direction: row;
  }

  .planet__image {
    height: 480px;
    width: 480px;
    flex: 0 0 480px;
    margin: 127px 29.5px;
  }

  .planet__info {
    margin: 133px 47px;
    align-items: flex-start;
    gap: 40px;
  }

  .info__description {
    align-items: flex-start;
  }

  .description__name {
    font: var(--font-text-lg-2);
  }

  .description__text {
    font: var(--font-text-lg-9);
  }

  .info-links__item {
    font: var(--font-text-lg-8);
  }

  .meta__item {
    align-items: flex-start;
  }
}
