body {
  background-image: url("../../assets/home/background-home-mobile.jpg");
}

.home {
  flex: 1;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.home__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.home-text__heading {
  font: var(--font-text-sm-6);
  color: var(--color-secondary);
}

.home-text__title {
  font: var(--font-text-sm-1);
}

.home-text__description {
  font: var(--font-text-sm-9);
  color: var(--color-secondary);
}

.home__explore {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-explore__button {
  display: flex;
  background-color: var(--color-white);
  border-radius: 50%;
  width: 144px;
  height: 144px;
  font: var(--font-text-sm-4);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: black;
  outline: 88px solid transparent;
  transition: color, outline 0.5s ease;
}

.home-explore__button:hover {
  outline: 88px solid rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

/* Tabet */
@media (min-width: 768px) {
  body {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }

  .home {
    padding: 128px 40px;
  }

  .home-text__heading {
    font: var(--font-text-lg-5);
    letter-spacing: 4px;
  }

  .home-text__title {
    font: var(--font-text-lg-1);
  }

  .home-text__description {
    font: var(--font-text-9);
  }

  .home-explore__button {
    width: 272px;
    height: 272px;
    font: var(--font-text-lg-4);
  }
}

/* Desktop */
@media (min-width: 1440px) {
  body {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }

  .home {
    padding: 0;
    margin: 128px 165px;
    position: relative;
  }

  .home__container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .home__text {
    flex: 1;
    align-items: flex-start;
  }

  .home-text__description {
    font: var(--font-tex-lg-9);
  }

  .home__text > .text-9 {
    text-align: left;
  }
}
